*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, sans-serif;
    color: white;
    background-color: rgb(43, 0, 83)
}

header h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: rgb(71, 60, 74);
    font-size: 54px;
}
main {
    width: 100vw;
    height: 55vh;
    background-color: rgb(43, 0, 83);
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.selectOption{
    display: flex;
    align-items: center;
    justify-content: center;
}

main button{
    color: black;
    width: 100px;
    font-weight: bold;
    background-color: rgb(220, 211, 211);
    margin-right: 50px;
    text-decoration: none;
}

main button:hover{
    background-color: rgb(89, 89, 89);
    cursor: pointer;
}

main button:active{
    background-color: rgb(0, 252, 21);
    cursor: pointer;
}

#algoSelect , option{
    margin-left: 10px;
    color: black;
    margin-right: 50px; 
}

.selectOption select , option{
    width: 200px;
    background-color: white;
}

.speed{
    margin-right: 50px;
}

.displaySort{
    border: solid 1px;
    width: 75vw;
    height: 90vh;
    margin: 20px;
    background-color: rgb(217, 206, 206);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    overflow: hidden;
}

.bar{
    margin: 0 1px; 
    transition: all 0.3s ease-out; 
}


footer{
    width: 100vw;
    height: 35vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.algoName{
    font-size: 35px;
    font-weight: bold;
}

.algoDesc{
    font-size: 17px;
    margin: 0 100px;
}
